* {
  box-sizing: border-box;
}

html {
  font-size: 16px;
}

html,
body,
div,
span {
  margin: 0;
  padding: 0;
}

body {
  background-color: #9db5b2;
}

a,
a:hover,
a:active,
a:visited {
  text-decoration: none;
  color: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: bold;
}

p {
  font-weight: lighter;
}

button:hover {
  cursor: pointer;
}

button:disabled:hover {
  cursor: default;
  box-shadow: none;
}
